@if (ViewBag.ErrorTitle == null)
{
    <h5>
        AN Error occured while processing your request. The support team is notified and we are working onabort=" the fix"
    </h5>
}
else
{
    <h1>ViewBag.ErrorTitle</h1>
    <h6>ViewBag.ErrorMessage</h6>
}

