@model ShopTARge22.Models.ChuckNorris.ChuckNorrisViewModel

<div class="container">
    <h2>Today's Chuck Norris Joke is:</h2>
    <h2>@Html.DisplayFor(model => model.Categories)</h2>
    <hr />

       
        <div class="form-group row">
            <label asp-for="Value" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.Value)
        </div>
    </dl>
</div>


<div class="container">
    <form method="get">
        <button asp-controller="ChuckNorris" asp-action="Index" class="btn btn-success">Back</button>
    </form>
</div>